* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/background.jpg");
    font-family: "Roboto", sans-serif;
    background-size: cover cover;
    background-position: center;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @media only screen and (min-width: 600px) {
        grid-template-columns: 2fr 3fr;
    }

    @media only screen and (min-width: 1200px) {
        grid-template-columns: 2fr 2fr 1fr;
    }
    @media only screen and (min-width: 1500px) {
        grid-template-columns: 2fr 1fr 2fr;
    }

    padding: 3rem;

    color: #fff;

    .col-1-container-mobile {
        display: block;

        @media only screen and (min-width: 600px) {
            display: none;
        }

        grid-column: 1 / 2;
        font-weight: 700;
        font-size: 2rem;
        max-width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        color: #333;

        p {
            margin: 0 0 0.5rem 0;
            font-weight: normal;
        }

        hr {
            border: 2px solid #333;
            border-bottom: none;
            margin: 0;
            width: 100%;
            margin-right: 50%;
            margin-bottom: 0.5rem;
        }
    }

    .col-1-container {
        display: none;

        @media only screen and (min-width: 600px) {
            display: block;
        }

        grid-column: 1 / 2;
        font-weight: 700;
        font-size: 2rem;
        max-width: 300px;

        p {
            margin: 0 0 1rem 0;
            font-weight: normal;
            letter-spacing: 2px;
        }

        hr {
            border: 2px solid #fff;
            border-bottom: none;
            margin: 0;
            width: 80%;
            margin-right: 50%;
            margin-bottom: 1rem;
        }
    }

    .col-2-container {
        .top-shape {
            height: 15vh;
            background: #a550b1;
            border-radius: 50% 50% 0 0;
            margin: 0;
            border-top: 2px solid #8d0a98;
            border-left: 2px solid #8d0a98;
            border-right: 2px solid #8d0a98;
        }

        .middle-shape {
            display: flex;
            flex-direction: column;
            background: #a550b1;
            border-left: 2px solid #8d0a98;
            border-right: 2px solid #8d0a98;
            height: 100%;
            height: calc(70vh - 6rem);
            width: 100%;
            box-sizing: border-box;

            .logo-container {
                font-size: 6rem;
                display: block;
                align-self: center;
            }

            .band-name {
                align-self: center;
                text-transform: uppercase;
                font-weight: normal;
                width: 100%;

                h2 {
                    font-weight: normal;
                    letter-spacing: 0.05rem;
                    text-align: center;
                }

                h2 + h2 {
                    margin: 1rem 0;
                    text-transform: uppercase;
                    text-align: center;
                }

                hr {
                    border: 1px solid #fff;
                    border-bottom: none;
                    width: 60%;
                    margin-right: 20%;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .band-body {
                align-self: center;
                width: 100%;

                .tickets-available {
                    margin-top: 3rem;
                    font-size: 1.2rem;
                    text-align: center;
                    margin-bottom: 0;
                }

                .tickets-left-number {
                    font-size: 2rem;
                    text-align: center;
                    margin: 1rem 0 3rem 0;
                }

                .price {
                    margin-top: 3rem;
                    text-align: center;
                    font-size: 1.2rem;
                }

                h4 {
                    font-size: 2rem;
                    text-align: center;
                    margin: 1rem 0 3rem 0;
                }
                hr {
                    border: 1px solid #fff;
                    border-bottom: none;
                    width: 60%;
                    margin-right: 20%;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .content-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .bottom-shape {
            height: 15vh;
            background: #a550b1;
            border-radius: 0 0 50% 50%;
            border-left: 2px solid #8d0a98;
            border-right: 2px solid #8d0a98;
            border-bottom: 2px solid #8d0a98;
        }
    }
}
